---
// Googlee Fontsなどはここで読み込む

import '@/styles/styles.scss';

import Header from '@/components/base/Header.astro';
import Meta from '@/components/base/Meta.astro';

const props = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<Meta {...props} />
	</head>
	<body>
    <!-- <Header /> -->
		<slot />
	</body>
</html>

<style lang="scss">
  body {
    background-color: var(--blue);
  }
</style>